<!-- Wrapper -->
<div id="wrapper">
	{% assign lang = page.dir %}

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{% if lang == "/en/" %}{{ "/en" | absolute_url }}{% else %}{{ "" | absolute_url }}{% endif %}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
	{% if lang == "/en/" %}
	  {% capture link1 %}{{ site.baseurl }}{{ page.url | remove_first: "/en"}}{% endcapture %}
	<a href="{{ link1 }}" >中文</a>
{% else %}
  {% capture link2 %}{{ site.baseurl }}/en{{ page.url}}{% endcapture %}
	<a href="{{ link2 }}" > english</a>
{% endif %}
		<a href="#menu"></a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
    {% for page in site.pages %}
			{% if page.dir == lang %}
		    {% if page.layout == "home" or page.nav-menu == true  %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
	  	{% endif %}
		{% endfor %}
	</ul>
</nav>
